<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
  <style type="text/css">
    main {
      padding: 50px;
    }
    code {
      background-color: grey;
      color: white;
      padding: 5px 10px;
    }
    ul {
      padding: 0;
    }
    li {
      margin: 10px 0;
    } 
    footer {
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  </style>
</head>
<body>
  <main>
    <h1>{{ title }}</h1>
    <p>This is the documentation of the Culture Quiz API. This is an open source API, you don't need any access key.</p>
    <p>This API was created to allow developers to use it for their app. It gives access to multiple choice questions in French. You can use it for create a quiz for example.</p>
    <p>The default response format is JSON <code>application/json</code></p>
    <h2>Available routes</h2>
    <ul>
      <li>
        <code>GET /questions</code>
        <p><i>Returns all questions</i></p>
      </li>
      <li>
        <code>GET /questions/{questionId}</code><br/>
        <p><i>Returns question with matching question id</i></p>
      </li>
    </ul>
  </main>
  <footer >
    Built by <a href="https://github.com/Madylune">Madylune</a>
  </footer>
</body>
</html>